:root {
  /* primary colors */
  --clr-pale-blue: hsl(225, 100%, 94%);
  --clr-bright-blue: hsl(245, 75%, 52%);

  /* secondary colors*/
  --clr-very-pale-blue: hsl(225, 100%, 98%);
  --clr-desaturated-blue: hsl(224, 23%, 55%);
  --clr-dark-blue: hsl(223, 47%, 23%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-black: hsl(0, 0%, 0%);
}

* {
  /* box-sizing: border-box; */
  border: 0;
  margin: 0;
  padding: 0;
}

/*font weights 500,700,900 */
body {
  font-family: "Red Hat Display", sans-serif;
}

h1 {
  font-size: 1px;
  color: var(--clr-pale-blue);
}

p {
  font-size: 1rem;
  color: var(--clr-desaturated-blue);
}

/*background styles and grid*/

.main-container {
  display: grid;
  height: 100vh;
  justify-content: center;
  align-content: center;
  background: url(images/pattern-background-mobile.svg) no-repeat;
  background-size: contain;
}

.layer {
  background-color: var(--clr-pale-blue);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* main card styles*/
.order-summary-card {
  width: 330px;
  height: 570px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 30px 50px rgba(111, 147, 255, 0.25);
}

/*top card section*/

.summary-img {
  width: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.card-title {
  color: var(--clr-dark-blue);
  text-align: center;
  margin: 25px auto 15px auto;
  font-weight: 900;
}

.summary-description {
  text-align: center;
  margin: auto 30px auto 30px;
  line-height: 1.6;
}

/*middle card section*/

.plan-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 15px;
  height: 85px;
  width: 300px;
  margin: 20px 20px;
  background-color: var(--clr-very-pale-blue);
}

.music-icon {
  order: 1;
  align-self: center;
  margin-left: 20px;
}

.annual-txt {
  color: var(--clr-dark-blue);
  order: 2;
  align-self: center;
  margin-bottom: 25px;
  margin-left: -15px;
  color: var(--clr-black);
  font-size: 14px;
  font-weight: 900;
}

.price {
  order: 2;
  align-self: center;
  align-self: flex-end;
  margin-left: -115px;
  margin-bottom: 22px;
  font-size: 14px;
}
.change {
  order: 3;
  color: hsl(244.59, 0.75, 0.52);
  align-self: center;
  font-weight: 900;
  margin: 25px;
  font-size: 14px;
}

.change:hover {
  text-decoration: none;
  color: hsl(245, 75%, 52%, 0.7);
}

/*bottom card section*/

.payment-container {
  display: flex;
  flex-direction: column;
  margin: 25px 20px 25px 20px;
}

.pay-btn {
  font-weight: 700;
  height: 50px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 20px 30px rgba(168, 161, 236, 0.25);
  color: var(--clr-white);
  background-color: var(--clr-bright-blue);
}

.pay-btn:hover {
  --clr-bright-blue: hsl(245, 75%, 52%, 0.7);
}

.cancel-btn {
  color: var(--clr-desaturated-blue);
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  margin-top: 25px;
  font-weight: 900;
}

.cancel-btn:hover {
  color: var(--clr-black);
}

@media screen and (min-width: 768px) {
  .main-container {
    background: url(./images/pattern-background-desktop.svg) no-repeat;
    background-size: 100%;
  }

  .layer {
    background-color: var(--clr-pale-blue);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .order-summary-card {
    width: 450px;
    height: 700px;
  }

  .card-title {
    margin: 40px auto 20px auto;
    font-size: 28px;
  }

  .summary-description {
    margin: auto 50px auto 50px;
  }

  .plan-container {
    width: 350px;
    height: 105px;
    margin: 20px 50px;
  }

  .annual-txt {
    font-size: 16px;
    margin-left: -55px;
  }

  .price {
    font-size: 16px;
    margin-left: -165px;
    margin-bottom: 30px;
  }

  .payment-container {
    width: 350px;
    margin: 30px 50px auto 50px;
  }
  .pay-btn {
    width: 350px;
    margin-bottom: 5px;
  }
  .cancel-btn {
    font-size: 15px;
  }
}
